@import "tailwindcss";

:root {
  --bg-primary: #001c29;
  --bg-secondary: #012638;
  --text-primary: #ffffff;
  --text-secondary: #a5c7d4;
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-container {
  background-color: var(--bg-secondary);
}

span,
strong,
em {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
}

h2:not(.footer-title) {
  @apply text-2xl mb-2;
}

.docs h2 {
  @apply text-2xl mb-2;
  /* font-size: 1.7em; */
}

.docs h3 {
  @apply text-xl mb-2;
  /* font-size: 1.3em; */
}

.docs h4 {
  @apply text-lg font-medium italic;
  /* font-size: 1.1em; */
}

main > section:first-of-type {
  border-top: none;
}
main > section {
  border-top: 6px solid var(--bg-primary);
  @apply py-4;
}

#team li img {
  @apply rounded-lg;
}

ul.docs-list {
  @apply list-disc ml-4 mb-4;
  color: var(--text-secondary);
}

ul.docs-list li {
  @apply mt-4;
}

ul.docs-list a {
  @apply hover:underline;
}

.file-version {
  @apply text-sm text-slate-300;
}

#navbar-dropdown.hidden {
  transition: all 0.4s ease;
}

section.docs {
  background-color: var(--bg-primary);
  padding: 1.5em;
  @apply rounded-lg;
  margin-bottom: 1em;
}

section.docs .collapsible {
  text-align: left;
  display: block;
  width: 100%;
}

.btn-collapse {
  float: right;
  margin-top: -2em;
  transition: 100ms linear all;
}

.collapsible {
  cursor: pointer;
}

.active .btn-collapse {
  transform: rotate(-90deg);
}

section.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}